//colors

//basic colors

$white: #ffffff;
$black: #000000;

// Page Colors

//background

$bgcolor: #054382;
$bgcolor2: #0F4882;

$color0: #4f5964;
$color1: #7F8C9C;
$color2: #898989;

//nav

$navgray: #DCDCDC; //gradient 1
$navgray2: #A7A7A7; //gradient 2

$nhovergray: #696969;
$nselected: #797979;

$nhg2: #7B7B7B;
$nhg3: #656565;

//font colors

$fnavmenu: #787878;

//borders

$bordercolor: #B8B8B8;
$bordersize: 1px;
$borderstyle: solid;

$border: $bordersize $borderstyle $bordercolor;

//links

$linkcol: #606060;

//box

$boxbg: #3B6EC3;

$boxshad: rgba(0, 0, 0, 0.9);
$boxsh: 0px 0px 9px $boxshad;
