//colors

//basic colors

$white: #ffffff;
$black: #000000;

// Page Colors

$bgcolor: #E3E3E3;

$color0: #4f5964;
$color1: #5f6975;
$color2: #898989;

$navgray: #F0F0F0;
$navgray2: #bbbbbb;

$nhovergray: #545454;
$nselected: #737373;

$nhg2: #4C4C4C;
$nhg3: #6D6D6D;

//font colors

$fnavmenu: #787878;

//borders etc

$border: #9A9A9A;

$linkcol: #606060;

$boxbg: rgb(59, 110, 195);

$boxshad: rgba(0, 0, 0, 0.9);