//colors

//basic colors

$white: #ffffff;
$black: #000000;

// Page Colors

$bgcolor: #0F4882;

$color0: #4f5964;
$color1: #5f6975;
$color2: #898989;

$navgray: #DCDCDC; //gradient 1
$navgray2: #A7A7A7; //gradient 2

$nhovergray: #696969;
$nselected: #797979;

$nhg2: #6B6B6B;
$nhg3: #565656;

//font colors

$fnavmenu: #787878;

//borders etc

$bordercolor: #B8B8B8;
$bordersize: 1px;
$borderstyle: solid;

$border: $bordersize $borderstyle $bordercolor;

$linkcol: #606060;

$boxbg: #3B6EC3;

$boxshad: rgba(0, 0, 0, 0.9);
